/* Navigation Bar */

.navbar {
    width: auto;
    padding: 0.5rem 0rem 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    border: 0.1rem solid black;
    padding: 0.25rem 1rem;
    margin: 0.5rem;
}

/* Homepage container */

.home-page-container {
    background-image: url(./images/landing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 8rem 10rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}