/* Navigation Bar */

.navbar {
    min-width: 100vw;
    padding: 0.5rem 0rem 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    border: 0.1rem solid black;
    padding: 0.25rem 1rem;
    margin: 0.5rem;
    background-color: white;
    opacity: 0.8;
}

/* Homepage container */
<<<<<<< HEAD
=======

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
>>>>>>> homepage-header-styles

.home-page-container {
    background-image: url(./images/landing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About section */

.about-derick-container {
    min-height: 100vh;
}